table.container {
	width: 100%;
	border-spacing: 0;
}

table.container>tr>td {
	text-align: center;
}

table.table-one {
	width: 600px;
	border-spacing: 0;
}

img.responsive-image {
	width: 600px;
	height: 300px;
}